body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 50px 20px;
    height: 100vh;
    border-right: 0.5px solid rgba(255, 255, 255, 0.1);
}

.logo img {
    width: 200px;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px 0px;

}

.menu {
    display: flex;
    flex-direction: row;
    align-items: left;
    cursor: pointer;
    border-radius: 10px;
    padding: 3px;
}

.menu:hover {
    background-color: grey;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.icon {
    width: 30px;
    margin-right: 10px;
}

.profile-picture {
    border-radius: 30px;
}

.profile-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 2px;
    margin-right: 10px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.main-content {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 10em;
    width: 100%;
    justify-content: space-around;
}

.left-content {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.content p {
    padding-right: 10px;
}

.headline {
    display: flex;
    flex-direction: row;
}

.followed {
    color: grey;
}

.divider {
    width: 100%;
    margin: 10px 0px;
}

.stories {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin: 10px 0px;
}

.story-picture {
    width: 50px !important;
}

.preview-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 10px;
}

.username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.name {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 0;
}

.name h4 {
    margin: 0;
}

.name p {
    color: grey;
    margin: 0;
}

.follow {
    color: #2095F6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.follow p {
    font-size: 14px;
}

.proposal {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.proposal-text {
    color: grey;
    font-size: 12px;
}

.proposal-view {
    font-size: 12px;
}

.right-section-lower {
    display: flex;
    flex-direction: column;
}

.link-stylings {
    font-size: 12px;
    color: grey;
    max-width: 300px;
}


